#container { display:block; }

@media only screen and (orientation:landscape){

  #container {

      transform: scale(1.3) translate(9%, 20%);

  }

}

@media only screen and (orientation:portrait){

  #container {

      transform: scale(1);
   }