#container { display:block; }

@media only screen and (orientation:landscape){

  #container {

      transform: scale(1.5) translate(9%, 5%);

  }

}

@media only screen and (orientation:portrait){

  #container {

      transform: scale(1);
   }